body {
    background-color: #6bd556;
}

header h1 {
    color: #2a2a2a;
    font-size: 70px;
    font-style: bold;

}


.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}



h1 {
    text-shadow: #2a2b2a;
    text-align: center;
    text-transform: uppercase;
}


nav {
    background-color: #75e32f;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    padding: 1rem;
}

ul li {
    color: black;
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
}

ul li a {
    text-transform: uppercase;
    color: black;
    font-size: 43;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

ul li a:hover{
    color: white;
    font-size: 12;
    
    background-color: #315e2a;
    border-radius: 12px;
}


.photo-section{
    width: 50%;
    float: right;
}


.photo-grid{
    display: grid;
    grid-template-rows: repeat(2, ifr);
    grid-gap: 10px;
}

.photo-grid{
    width: 100%;
    height: auto;
    object-fit: cover;
}